<h1>新規作成</h1>

<%= form_with model: @post, local: true do |p| %>
  <div class='form-group'>
    <%= p.label :content %>
    <%= p.text_area :content, class: 'form-control' %>
  </div>
  <%= p.submit nil, class: 'btn btn-primary' %>
<% end %>
