<h1>詳細</h1>
<table class='table table-responsive-xs'>
  <tbody>
    <tr>
      <td><%= Post.human_attribute_name(:content) %></td>
    </tr>
    <tr>
      <td><%= simple_format(h(@post.content), {}, sanitize: false, wrapper_tag: "div") %></td>
    </tr>
    <tr>
      <td><%= image_tag(@post.image.url) if @post.image && @post.image.url %></td>
    </tr>
  </tbody>
</table>
