<h1>詳細</h1>
<table class='table table-responsive-xs'>
  <tbody>
    <tr>
      <td><%= Post.human_attribute_name(:content) %></td>
    </tr>
    <tr>
      <td><%= @post.content %></td>
    </tr>

    <tr>
      <td><%= @post.image %></td>
    </tr>
  </tbody>
</table>
